html{
    width:100%;
    height:auto;
    background-color: black;
  }

a:hover {
    text-decoration: none;
    color: black;
    -webkit-text-stroke: 1.8px white;
  }
  a:visited {
    text-decoration: none;
    color: black;
    -webkit-text-stroke: 1.8px white;
  }
  a:focus {
    text-decoration: none;
    color: black;
    -webkit-text-stroke: 1.8px yellow;
  }

  .logo{
    right:0;
    margin-right: 50px;
    margin-top: 50px;
    width: 5%;
    position:fixed;
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition:         transform .6s ease-in-out;
  }
  .logo:hover{
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  .work{
    margin-left:50px;
    margin-top:25px;
    position: absolute;
    color: black;
      font-size: 30px;
      -webkit-text-stroke: 1.8px white;
    font-family: Impact;
  }
  .about{
    margin-left:200px;
    margin-top:25px;
    position: absolute;
    color: black;
      font-size: 30px;
      -webkit-text-stroke: 1.8px white;
    font-family: Impact;
  }
  
  .contact{
    margin-left:350px;
    margin-top:25px;
    position: absolute;
    color: black;
      font-size: 30px;
      -webkit-text-stroke: 1.8px white;
    font-family: Impact;
  }
  .side{
    position:absolute;
    bottom:50px;
    margin-left: -30px;
    color: black;
    font-size: 50px;
    font-family: Impact;
    z-index: 5;
    transform: rotate(-90deg);
  }
  .rectangle {
    height: 190px;
    width: 88px;
    bottom:35px;
    position:absolute;
    z-index: inherit -5;
    background-color: white;
  }
  
  #cor {
    opacity: 0.5;
  }
  .mail{
    display:block;
    margin: 0 auto;
    width: 5%;
    position:absolute;
    margin-left:200px;
    margin-top: 200px;
  }
  .uno{
    display:block;
    margin: 0 auto;
    width: 5%;
    position:absolute;
    margin-left:950px;
    margin-top: 710px;
  }
  .dos{
    display:block;
    margin: 0 auto;
    width: 5%;
    position:absolute;
    margin-left:620px;
    margin-top: 648px;
  }
  .tres{
    display:block;
    margin: 0 auto;
    width: 5%;
    position:absolute;
    margin-left:60px;
    margin-top: 300px;
  }
  .cuatro{
    display:block;
    margin: 0 auto;
    width: 5%;
    position:absolute;
    margin-left:500px;
    margin-top: 500px;
  }
  .cinco{
    display:block;
    margin: 0 auto;
    width: 5%;
    position:absolute;
    margin-left:500px;
    margin-top: 350px;
  }
  .seis{
    display:block;
    margin: 0 auto;
    width: 5%;
    position:absolute;
    margin-left:290px;
    margin-top: 550px;
  }
  .siete{
    display:block;
    margin: 0 auto;
    width: 5%;
    position:absolute;
    right:450px;
    margin-top: 200px;
  }
  .ocho{
    display:block;
    margin: 0 auto;
    width: 5%;
    position:absolute;
    right:320px;
    margin-top: 500px;
  }
  .nueve{
    display:block;
    margin: 0 auto;
    width: 5%;
    position:absolute;
    margin-left:420px;
    margin-top: 200px;
  }
  .diez{
    display:block;
    margin: 0 auto;
    width: 5%;
    position:absolute;
    right:590px;
    margin-top: 470px;
  }
  .once{
    display:block;
    margin: 0 auto;
    width: 5%;
    position:absolute;
    margin-left:440px;
    margin-top: 688px;
  }
  .doce{
    display:block;
    margin: 0 auto;
    width: 5%;
    position:absolute;
    margin-left:80px;
    margin-top: 470px;
  }
  .trece{
    display:block;
    margin: 0 auto;
    width: 5%;
    position:absolute;
    right:80px;
    margin-top: 450px;
  }
  .catorce{
    display:block;
    margin: 0 auto;
    width: 5%;
    position:absolute;
    margin-left:300px;
    margin-top: 370px;
  }
  .quince{
    display:block;
    margin: 0 auto;
    width: 5%;
    position:absolute;
    right:180px;
    margin-top: 200px;
  }
  .dieciseis{
    display:block;
    margin: 0 auto;
    width: 5%;
    position:absolute;
    margin-left:800px;
    margin-top: 650px;
  }
  .diecisiete{
    display:block;
    margin: 0 auto;
    width: 5%;
    position:absolute;
    margin-left:199px;
    margin-top: 655px;
  }

  .dieciocho{
    display:block;
    margin: 0 auto;
    width: 5%;
    position:absolute;
    right:200px;
    margin-top: 650px;
  }
  .diecinueve{
    display:block;
    margin: 0 auto;
    width: 5%;
    position:absolute;
    margin-left:650px;
    margin-top: 250px;
  }
  .veinte{
    display:block;
    margin: 0 auto;
    width: 5%;
    position:absolute;
    right:400px;
    margin-top: 350px;
  }