html {
  width: 100px;
  height: 100px;
  background-color: black;
}

body{
  width: 100px;
  height: 100px;
}

.work {
  transition:transform 0.25s ease;
}

.work:hover {
  -webkit-transform:scale(1.1); /* or some other value */
  transform:scale(1.1);
}

.about {
  transition:transform 0.25s ease;
}

.about:hover {
  -webkit-transform:scale(1.1); /* or some other value */
  transform:scale(1.1);
}

.contact {
  transition:transform 0.25s ease;
}

.contact:hover {
  -webkit-transform:scale(1.1); /* or some other value */
  transform:scale(1.1);
}

a {
  text-decoration: none;
  color: black;
  -webkit-text-stroke: 1.8px white;
}
a:hover {
  text-decoration: none;
  color: black;
  -webkit-text-stroke: 1.8px yellow;
}
a:visited {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
  color: black;
  -webkit-text-stroke: 1.8px white;
}

.logo {
  right: 0;
  margin-right: 50px;
  margin-top: 50px;
  width: 5%;
  position: fixed;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
}

.logo:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.work {
  margin-left: 50px;
  margin-top: 25px;
  position: absolute;
  color: black;
  font-size: 30px;
  -webkit-text-stroke: 1.8px white;
  font-family: Impact;
  display:flex;
}
.about {
  margin-left: 200px;
  margin-top: 25px;
  position: absolute;
  color: black;
  font-size: 30px;
  -webkit-text-stroke: 1.8px white;
  font-family: Impact;
}

.contact {
  margin-left: 350px;
  margin-top: 25px;
  position: absolute;
  color: black;
  font-size: 30px;
  -webkit-text-stroke: 1.8px white;
  font-family: Impact;
}

.ny{
  position:absolute;
    bottom:50px;
    margin-left: -15px;
    color: white;
    -webkit-text-stroke: 0.3px black;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: Impact;
    transform: rotate(-90deg);
}


body.darkmode{
  background-color: black;
}

.gif {
  position:absolute;
  width: 1350px;
  height: auto;
  margin-left:7%;
}